# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
tfenv/

# IDE / Editor specific
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
*.pyo
*.pyd

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db